@mixin font-face($name, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: local("#{$file}"), url("../fonts/#{$file}.woff2") format("woff2"),
            url("../fonts/#{$file}.woff") format("woff");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin dottedBg($size, $space, $bg) {
    background: linear-gradient(90deg, $bg ($space - $size), transparent 1%) center,
        linear-gradient($bg ($space - $size), transparent 1%) center, #e5e5e5;
    background-size: $space $space;
}
