<footer class="footer">
    <picture>
        <source srcset="img/deco/leaf--mobile.webp 576w, 
        img/deco/leaf--tablet.webp 768w" data-srcset="img/deco/leaf--mobile.webp 576w, 
        img/deco/leaf--tablet.webp 768w" sizes="100w" data-sizes="100w" type="image/webp" />
        <img class="footer_leaf lazy" src="img/deco/leaf--full.png" data-src="img/deco/leaf--full.png" srcset="img/deco/leaf--mobile.png 576w, 
        img/deco/leaf--tablet.png 768w" data-srcset="img/deco/leaf--mobile.png 576w, 
        img/deco/leaf--tablet.png 768w" sizes="100w" data-sizes="100w" alt="decoration" />
    </picture>
    <div class="container">
        <h5 class="footer_title">Get notified<br> about new amazing products</h5>
        <p class="footer_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus
            auctor eget sed phasellus senectus.</p>
        <form class="footer_form" name="subscribeForm" action="POST">
            <input class="footer_form-field required" data-type="email" type="text" name="subscribeEmail" id="subscribeEmail"
                placeholder="Email">
            <button class="footer_form-btn enabled" type="submit">
                <i class="icon-arrow_forward"></i>
            </button>
        </form>
        <ul class="footer_links d-flex align-items-center justify-content-between justify-content-sm-center">
            <li class="list-item">
                <a class="link" href="javascript:void(0)">Product</a>
            </li>
            <li class="list-item">
                <a class="link" href="javascript:void(0)">Company</a>
            </li>
            <li class="list-item">
                <a class="link" href="javascript:void(0)">Learn more</a>
            </li>
            <li class="list-item">
                <a class="link" href="javascript:void(0)">Get in touch</a>
            </li>
        </ul>
        <div class="wrapper d-flex align-items-center justify-content-center  justify-content-md-end">
            <ul class="footer_socials d-flex align-items-center justify-content-center">
                <li class="list-item">
                    <a class="link" href="https://facebook.com/" target="_blank" rel="noopener noreferrer">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a class="link" href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a class="link" href="https://linkedin.com/" target="_blank" rel="noopener noreferrer">
                        <i class="icon-linkedin"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a class="link" href="https://behance.com/" target="_blank" rel="noopener noreferrer">
                        <i class="icon-behance"></i>
                    </a>
                </li>
            </ul>
            <span class="copyright">&copy; 2020 Expice Studio</span>
        </div>
    </div>
</footer>
<script src="js/bundle.js"></script>