<header class="header" id="header">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
        <a class="header_brand brand" href="index.html">expice</a>
        <nav class="header_nav">
            <ul class="header_nav-list">
                <li class="list-item">
                    <a href="#home">Home</a>
                </li>
                <li class="list-item">
                    <a href="#booking">Booking</a>
                </li>
                <li class="list-item">
                    <a href="#services">Services</a>
                </li>
                <li class="list-item">
                    <a href="#menu">Menu</a>
                </li>
                <li class="list-item">
                    <a href="#app">Our app</a>
                </li>
            </ul>
        </nav>
        <a class="header_account" href="javascript:void(0)">
            <i class="icon-user"></i>
        </a>
        <button class="hamburger" type="button">
            <span class="line line--top"></span>
            <span class="line line--middle"></span>
            <span class="line line--bottom"></span>
        </button>
    </div>
</header>