<li class="menu_list-item col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="500">
    <a class="wrapper d-flex flex-column justify-content-between" href="javascript:void(0)">
        <picture>
            <source type="image/webp" data-srcset="img/content/menu_@@i--sm.webp 500w,
                img/content/menu_@@i--full.webp 1200w" srcset="img/content/menu_@@i--sm.webp 500w,
                img/content/menu_@@i--full.webp 1200w" data-sizes="100w" sizes="100w" />
            <img class="menu_list-item_img lazy" data-srcset="img/content/menu_@@i--sm.jpg 500w, img/content/menu_@@i--full.jpg 1200w" srcset="img/content/menu_@@i--sm.jpg 500w,
                img/content/menu_@@i--full.jpg 1200w" data-src="img/content/menu_@@i--sm.jpg"
                src="img/content/menu_@@i--sm.jpg" alt="menu item" data-sizes="100w" sizes="100w" />
        </picture>
        <div class="menu_list-item_info">
            <div class="main d-flex flex-column justify-content-between align-items-center">
                <span class="name title title--md">Hand Sandwich</span>
                <span class="price">$10.25</span>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est,
                adipiscing.</p>
        </div>
    </a>
</li>