.menu {
    padding: 49px 0 60px;
    &_header {
        text-align: center;
        &-title {
            margin-bottom: 30px;
        }
        &-text {
            margin: 0 auto;
            max-width: 609px;
            text-align: justify;
            word-break: break-all;
        }
    }
    &_list {
        margin-top: 30px;
        &-item {
            .wrapper {
                background: #fff;
                box-shadow: 0px 4px 4px rgba(235, 241, 245, 0.5);
                border-radius: 25px;
                height: 100%;
                transition: transform 0.3s ease-in-out;
                &:hover,
                &:focus {
                    transform: scale(0.95);
                }
            }
            &_img {
                width: 100%;
                display: block;
                object-fit: cover;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
            &_info {
                padding: 33px 26px;
                flex-grow: 1;
                .main {
                    margin-bottom: 10px;
                    font-size: 24px;
                    line-height: 32px;
                    .price {
                        color: $shamrock;
                        font-weight: $bold;
                    }
                }
                .description {
                    line-height: 18px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (min-width: 575.98px) {
    .menu {
        &_header {
            &-text {
                text-align: center;
            }
        }
        &_list {
            &-item {
                &_info {
                    .main {
                        flex-direction: row !important;
                    }
                    .description {
                        line-height: 24px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .menu {
        &_list {
            &-item {
                &_info {
                    .main {
                        flex-direction: column;
                    }
                    .description {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .menu {
        &_list {
            &-item {
                &_info {
                    .main {
                        flex-direction: row !important;
                    }
                    .description {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .menu {
        &_list {
            &-item {
                &_info {
                    .main {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .menu {
        &_list {
            &-item {
                &_info {
                    .main {
                        flex-direction: row;
                    }
                }
            }
        }
    }
}
